.nav-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 15px;
  gap: 10px;
}

.nav-block {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-weight: 400;
  gap: 10px;
}

.logo {
  font-size: 32px;
  text-decoration: none;
}

.nav-list {
  display: flex;
  gap: 36px;
  flex-grow: 1;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--secondary-color);
  letter-spacing: calc(1em / 10);
}

.nav-list__item:hover {
  cursor: pointer;
}

.btn-callback {
  flex-basis: 201px;
  height: 41px;
  border: 1px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: calc(1em / 10);
  font-weight: 400;
  font-size: 20px;
  color: var(--primery-color);
  background-color: var(--secondary-color);
}

.btn-callback:hover {
  cursor: pointer;
}

/* Modal */
.modal.modal-form-back-call {
  width: 550px;
  height: 350px;
}

.btn.btn-close-modal {
  float: right;
  font-weight: 400;
  font-size: 20px;
  color: var(--secondary-color);
  border: none;
}

.modal-header {
  margin: 30px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--secondary-color);
}
